body{
    background-color:rgb(229, 229, 245);
}
ul{
    background-color: rgb(238, 34, 34);   
    overflow: hidden;
    margin: 0px;
    padding-left: 200px;
   
}
li{
    list-style-type: none; 
    float: left;
    margin: 10px;
   
    
}
a{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

a:hover{
    color: black;
}

#floatright{
    float: right;
}
.floatleft{
    float: left;
}
.side{
    
    width: 215px;

    
}
div{
   
    width: 1500px;
    height: auto;
    margin: 10px;
    display: inline-block;
}
.content{
    border:1px solid;
    width: 850px;
    height: auto;
}